/* style.css */

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex; /* Align sections vertically */
    color: white;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    background-position: center; /* Create fixed background */
    background-size: cover;
    background-image: url(../images/pro-church-media-playroom-blur.png);
    background-attachment: fixed;
}

#header, #footer {
    text-align: center;
    padding: 12px 10%; 
    background-color: rgba(204, 161, 224, 0.8); 
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    flex-grow: 1; /* fill all open screen */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#board-container {
    flex-basis: 30%;
    border: 24px solid rgb(255, 0, 0);
    box-shadow: 18px 18px 12px rgba(0,0,0,0.6);
    border-radius: 12px;
}

#options {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    height: auto;
}

.options-button {
    min-width: 0;
    border: 4px solid rgb(99, 0, 138);
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
    width: 60px;
    height: 60px;
}

.etch-board {
    flex-grow: 1;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    justify-content: stretch;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.tile {
    background-color: white;
    min-width: 1px;
}