/* style.css */

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex; /* Align sections vertically */
    color: white;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

#header, #footer {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;  
    background-color: rgb(170, 118, 219); 
}

#header {

}

#content {
    flex-grow: 1; /* fill all open screen */
    display: flex;
    align-items: center;
    justify-content: center;
}

#board-container {
    margin: 12px;
    flex-basis: 40%;
    border: 24px solid red;
    border-radius: 12px;
}

#footer {
    
}

.logo {
    width: 40%;
    height: auto;
}

.etchBoard {
    flex-grow: 1;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    justify-content: stretch;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.tile {
    background-color: white;
    min-width: 1px;
}