/* style.css */

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex; /* Align sections vertically */
    color: white;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    background-position: center; /* Create fixed background */
    background-size: cover;
    background-image: url(../images/pro-church-media-playroom-blur.png);
    background-attachment: fixed;
}

#header, #footer, #options {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;  
    background-color: rgba(204, 161, 224, 0.8); 
}

#header {

}

#content {
    flex-grow: 1; /* fill all open screen */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#board-container {
    margin: 2%;
    flex-basis: 40%;
    border: 24px solid rgb(255, 0, 0);
    box-shadow: 18px 18px 12px black;
    border-radius: 12px;
}

#options {
    display: flex;
    justify-content: center;
    gap: 48px;
}

#footer {
    
}

.logo {
    width: 40%;
    height: auto;
}

.options-button {
    border: 3px solid rgb(99, 0, 138);
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.etchBoard {
    flex-grow: 1;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    justify-content: stretch;
}

.column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.tile {
    background-color: white;
    min-width: 1px;
}